<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frogobox.favorite">

    <uses-permission android:name="com.frogobox.mvvm.provider.FavoriteMovieProvider.READ_DATABASE_MOVIE" />
    <uses-permission android:name="com.frogobox.mvvm.provider.FavoriteMovieProvider.WRITE_DATABASE_MOVIE" />
    <uses-permission android:name="com.frogobox.mvvm.provider.FavoriteTvShowProvider.READ_DATABASE_TV_SHOW" />
    <uses-permission android:name="com.frogobox.mvvm.provider.FavoriteTvShowProvider.WRITE_DATABASE_TV_SHOW" />

    <application
        android:name="com.frogobox.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.DetailTvShowActivity"></activity>
        <activity android:name=".ui.activity.DetailMovieActivity" />
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>