<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frogobox.movie">

    <permission
        android:name="com.frogobox.movie.provider.FavoriteMovieProvider.READ_DATABASE_MOVIE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.frogobox.movie.provider.FavoriteMovieProvider.WRITE_DATABASE_MOVIE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.frogobox.movie.provider.FavoriteTvShowProvider.READ_DATABASE_TV_SHOW"
        android:protectionLevel="normal" />
    <permission
        android:name="com.frogobox.movie.provider.FavoriteTvShowProvider.WRITE_DATABASE_TV_SHOW"
        android:protectionLevel="normal" />

    <application
        android:name="com.frogobox.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.frogobox.movie.mvvm.main.SettingActivity" />
        <activity
            android:name="com.frogobox.movie.mvvm.tv.SearchTvShowActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name="com.frogobox.movie.mvvm.movie.SearchMovieActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity android:name="com.frogobox.movie.mvvm.tv.DetailTvShowActivity" />
        <activity android:name="com.frogobox.movie.mvvm.movie.DetailMovieActivity" />
        <activity
            android:name="com.frogobox.movie.mvvm.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.frogobox.movie.widget.FavoriteBannerWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favorite_banner_widget_info" />
        </receiver>

        <service
            android:name="com.frogobox.movie.widget.StackWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver
            android:name="com.frogobox.base.service.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name="com.frogobox.movie.provider.FavoriteMovieProvider"
            android:authorities="com.frogobox.movie.provider.FavoriteMovieProvider"
            android:exported="true"
            android:readPermission="com.frogobox.movie.provider.FavoriteMovieProvider.READ_DATABASE_MOVIE"
            android:writePermission="com.frogobox.movie.provider.FavoriteMovieProvider.WRITE_DATABASE_MOVIE" />

        <provider
            android:name="com.frogobox.movie.provider.FavoriteTvShowProvider"
            android:authorities="com.frogobox.movie.provider.FavoriteTvShowProvider"
            android:exported="true"
            android:readPermission="com.frogobox.movie.provider.FavoriteTvShowProvider.READ_DATABASE_TV_SHOW"
            android:writePermission="com.frogobox.movie.provider.FavoriteTvShowProvider.WRITE_DATABASE_TV_SHOW" />

    </application>

</manifest>