<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frogobox.mvvm">

    <permission
        android:name="com.frogobox.mvvm.provider.FavoriteMovieProvider.READ_DATABASE_MOVIE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.frogobox.mvvm.provider.FavoriteMovieProvider.WRITE_DATABASE_MOVIE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.frogobox.mvvm.provider.FavoriteTvShowProvider.READ_DATABASE_TV_SHOW"
        android:protectionLevel="normal" />
    <permission
        android:name="com.frogobox.mvvm.provider.FavoriteTvShowProvider.WRITE_DATABASE_TV_SHOW"
        android:protectionLevel="normal" />

    <application
        android:name="com.frogobox.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.SettingActivity" />
        <activity android:name=".ui.activity.SearchTvShowActivity" />
        <activity android:name=".ui.activity.SearchMovieActivity" />
        <activity android:name=".ui.activity.DetailTvShowActivity" />
        <activity android:name=".ui.activity.DetailMovieActivity" />
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".ui.widget.FavoriteBannerWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favorite_banner_widget_info" />
        </receiver>

        <service
            android:name=".ui.widget.StackWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver
            android:name="com.frogobox.base.modular.service.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name="com.frogobox.mvvm.provider.FavoriteMovieProvider"
            android:authorities="com.frogobox.mvvm.provider.FavoriteMovieProvider"
            android:exported="true"
            android:readPermission="com.frogobox.mvvm.provider.FavoriteMovieProvider.READ_DATABASE_MOVIE"
            android:writePermission="com.frogobox.mvvm.provider.FavoriteMovieProvider.WRITE_DATABASE_MOVIE" />

        <provider
            android:name="com.frogobox.mvvm.provider.FavoriteTvShowProvider"
            android:authorities="com.frogobox.mvvm.provider.FavoriteTvShowProvider"
            android:exported="true"
            android:readPermission="com.frogobox.mvvm.provider.FavoriteTvShowProvider.READ_DATABASE_TV_SHOW"
            android:writePermission="com.frogobox.mvvm.provider.FavoriteTvShowProvider.WRITE_DATABASE_TV_SHOW" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_publisher_id" />

    </application>

</manifest>